<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/23490/Desktop/OrangeHRM_POM"><classes><class name="login.LoginTests"><methods><include name="testVerifyCompanyLogo"/><include name="testVerifyForgotPassword"/><include name="testVerifyLoginPanel"/><include name="testverifyPageTitle"/></methods></class><class name="setup.setupTests"><methods><include name="testSetUp"/></methods></class></classes></test></suite>